#carousel img {
    height: 760px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    font-size: 48px;
    color: #edfadd;
}

.navbar {
    background-color: #67be0a;
}

.section-title {
    font-family: 'Pangolin', cursive;
}

#cabecalho .nav .nav-link.active {
    background-color: #edfadd;
    color: #67be0a;
}

#cabecalho .nav .nav-link,
.navbar-brand:hover,
.nav-produtos .nav-link.active:hover {
    color: #edfadd;
}

.navbar-toggler {
    background-color: #edfadd;
}

#sobre-caozito,
#produtos {
    background-color: #edfadd;
}

.text-colored {
    color: #67be0a;
}

#combos,
#fale-conosco {
    background-color: #d9f3bb;
}

#cabecalho a:hover {
    background-color: #d9f3bb;
    color: #67be0a;
}

#cabecalho .nav .nav-link:hover {
    color: #67be0a;
}

button[type="button"]:hover {
    background-color: #4f9405;
    color: #edfadd;
}

.nav-produtos .nav-link.active {
    background-color: #67be0a;
    color: #edfadd;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

#fale-conosco button {
    background-color: #67be0a;
    color: #edfadd;
    transition: all 0.2s ease;
    border-bottom: 4px solid #a2d66a
}

#fale-conosco button:hover {
    transition: all 0.2s ease;
    background-color: #73d40b;
    transform: translate(0px, -2px);
}

.footer {
    width: 100%;
    background-color: #67be0a;
    color: #edfadd;
    text-align: center;
    padding: 20px 48px;
}

.footer p {
    align-items: center;
    margin: 0;
}

#form-campo textarea {
    resize: none;
}

@media (max-width: 767px) {
    #carousel img {
        height: 280px;
    }

    .navbar-brand {
        font-size: 30px;
        color: #edfadd;
    }

    .footer p {
        font-size: 14px;
    }

    .footer .container {
        padding: 0;
    }

    #about {
        margin-top: 16px;
    }

    #margetop {
        margin-top: 8px;
    }

    #margitop {
        margin-top: 26px;
    }

    #margtop {
        margin-top: 26px;
    }
}